= link_to "gfxCardStatus", "/gfxCardStatus", :class => "#{active_page? '/gfxCardStatus', 'active'}"
= link_to "changelog", "/gfxCardStatus/changelog", :class => "#{active_page? '/gfxCardStatus/changelog', 'active'}"
= link_to "faq", "/gfxCardStatus/faq", :class => "#{active_page? '/gfxCardStatus/faq', 'active'}"
= link_to "features", "/gfxCardStatus/features", :class => "#{active_page? '/gfxCardStatus/features', 'active'}"
= link_to "screenshots", "/gfxCardStatus/screenshots", :class => "#{active_page? '/gfxCardStatus/screenshots', 'active'}"

