= link_to "about", "/about", :class => "#{active_page? '/about', 'active'}"
= link_to "press", "/about/press", :class => "#{active_page? '/about/press', 'active'}"
= link_to "work", "/about/work", :class => "#{active_page? '/about/work', 'active'}"

