!!! 5
%html{ :lang => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %title
      = yield(:title)
      cody krieger
    %meta{ :name => 'viewport', :content => 'width=device-width initial-scale=1.0 maximum-scale=1.0' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    /[if lt IE 9]
      %script{ :type => "text/javascript", :src  => "/javascripts/shiv.js" }
    = include_stylesheets :admin, :media => 'all'
    = yield(:head)
  %body
    #container
      = render :partial => "admin/shared/header"
      %section#content
        = yield
    = render :partial => "admin/shared/footer"
    = render :partial => "admin/shared/end_scripts"
