!!!
%html{ :lang => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %title
      = yield(:title_tag)
      cody krieger
    %meta{ :name => 'description', :content => '' }
    %meta{ :name => 'author', :content => 'Cody Krieger' }
    %meta{ :name => 'viewport', :content => 'width=device-width initial-scale=1.0 maximum-scale=1.0' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{ :rel => "apple-touch-icon", :href => "/images/ati.png" }
    /[if lt IE 9]
      %script{ :type => "text/javascript", :src  => "/javascripts/shiv.js" }
    = include_stylesheets :main, :media => 'all'
    = yield(:stylesheets)
    = yield(:head)
  %body
    #container
      = render :partial => "shared/header"
      %section#content
        %div
          - if controller_name == "pages"
            = controller.subnav
          = yield(:title)
          = yield
    = render :partial => "shared/footer"
    = render :partial => "shared/end_scripts"
